@font-face {
    font-family: "Press Start 2P";
    src: url(/fonts/PressStart2P-Regular.ttf);
    
}
body {
    margin: 10px;
    padding: 10px;
    background-image: url(/Images/pcs.gif);
    background-size: 100%;
    font-family: "Press Start 2P";
    color:rgb(47, 255, 57);
}


#gameScreen {
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;
    justify-content: center; 
    text-align: center;
}
#myCanvas {
    grid-column: 1/3;
    grid-row: 2/4;
}

#titulo {
    font-size: 100px;
}

#codes {
    grid-column: 4/4;
    grid-row: 2/3;
}

.letreros {
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

#ponerCodigo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#gameoverScreen {
    display: grid;
    grid-template-columns: 30% 20%;
}

#gameoverImg {
    justify-content: center;
}

#gameScreen, #gameoverScreen, #speedCode {
    display: none;
}

marquee {
    padding: 5px;
    font-size: 40px;
}
#startScreen {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    justify-content: baseline;
    text-align: center;
    padding: 10px;
}


.btn{
    font-size: 40px;
    size: 100px;
    text-align: center;
	margin:20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 21px;
	border-radius: 10px;
    box-shadow: 0 .2em gray; 
    cursor:grab;

}
.btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}


#myCanvas {
    background: rgba(170, 187, 97, 0.5);
}
