@font-face {
    font-family: "Press Start 2P";
    src: url(/fonts/PressStart2P-Regular.ttf);
    
}
body {
    margin: 10px;
    padding: 10px;
    display: flex;
    background-image: url(/Images/pcs.gif);
    background-size: 100%;
    font-family: "Press Start 2P";
    color: white;
}

#gameScreen, #gameoverScreen {
    display: none;
}

marquee {
    padding: 5px;
    font-size: 40px;
}
#startScreen {
    display: flex;
    justify-content: baseline;
}
.btn{
    font-size: 40px;
    size: 100px;
    text-align: center;
	display: inline-block;
	margin:20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 21px;
	border-radius: 10px;
    box-shadow: 0 .2em gray; 
    cursor:grab;

}
.btn.active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

#startImg {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px;
    margin: 50px;
    font-size: 50px;
    color: white;
    padding: 10vh;
}